<div class="hero-unit">
	<h1>TVWC Office Bearers Blog</h1>
<p><%= link_to "TVWC Public Website", "http://tvwc.org.au" %></p>
<h4>	If you are a TVWC Office bearer 
	<%= link_to "Sign Up Now", "#", class: "btn btn-success" %></h4>
	<div>
	<h3> Welcome to the TVWC Committee Member's Private Site!</h3>
	<p> TVWC committee members can use this website to discuss TVWC issues, make suggestions and keep track of ongoing matters. It will hopefully assist in maintaining records and make it easier for office bearers to keep up to date with what is going on and to keep track of ongoing dicussions. 
	If this site is successful we can expand it to include a member's version with a section for phonies where rosters can be posted and communication between phonies and cordinaters can be streamlined.</p> <br/>
	
	<p>A links page will contain links to sites relevant to TVWC similar to our links page on the public site. Eventually users will be able to add links to this page.</p>
 
 <p>A documents page will allow the upload of documents for reference so that users can conveniently cite from the docs page in posts.</p>
</div>
</div>
