<div class="row">
	<div class="span6 offset3">
		<div class="well">
<p>
  <b>Topic:</b>
  <%= @post.topic %>
</p>
 
<p>
  <b>Body:</b>
  <%= @post.body %>
</p>
 <%= link_to 'Edit Post', edit_post_path(@post) %> |
 <%= link_to 'Back to Posts', posts_path %> 
	</div
 </div>
</div>
 
