$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import 'bootstrap';

$navbarBackgroundHighlight: white;
$navbarBackground: white;
body{
	padding-top: 200px;
	background-color: #fff;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
  font-size: 0.81em;
  color:#6e6e6e;
  display: table;
}
.footer {
	margin-top: 50px;
	background-color: #fdefc8;
	color: #000;
	height: 100px;
	padding-left: 40%;
	font-size: 0.8em;
	margin-top: 50px;
	width: 100%;
 a {
	color: $gray;
   }
}
.navbar-inner{

	@include box-shadow(none !important);
	border: 0;
}

.navbar {
	background-color: #669900;
}

	.span8{
		background-color: #66cc00;
		padding-left: 15px;
	}

h1{
	color:#6e6e6e;
  }
	#header{
		height:53px;
		background-color: green;
		border-bottom:1px solid #191919;
		z-index:100;
		line-height:53px;
		margin-bottom:1px;
		display: block;
	}
	.navbar{
		color: #66cc00;
	}
	.navbar a {
		color: #6e6e6e;
	}
	.navbar hover {
		color: #66cc00 ;
	}
	.btn btn-primary
	{
  background-color: green;
	}
	h2{
		color: green;
	}
	h4{
		color: green;
		}
	@import  'bootstrap-responsive';
