<div class="footer">
	<div class="copyright">
		<small>
		Weblog built by Louise Bally using Ruby on Rails
	</small>
</div>
	<div class="nav pull-left">
		<ul class="nav"
		      <li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Docs", docs_path %></li>
					<li><%= link_to "Links", links_path %></li>
			 </ul>
			</div>
</div>